{% extends "user/index.html" %}
<!-- {% load crispy_forms_tags %} -->
{% block start %}
<style>
  .flexy{
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>


<h1 style="text-align: center;">Register now and start tracking your calories today!</h1>
<div class=" flexy content-section col-md-12 mb-12 ">
  
  <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%; ">
    {% csrf_token %}
    <fieldset>
      {{ form.as_p}}
    </fieldset>
    <center>
      <button style=" padding:2%; font-size: 1rem; color:white;" class="btn btn-primary btn-outline-info my-4" type="submit">sign up</button>
    
    <br />
    <sub><a href="{% url "login" %}" style="text-decoration: none;   text-align: center; color: rgb(8, 8, 5); padding:3%; cursor:pointer;">Already have an account ?</a></sub>
  </center>
  </form>
</div>
{% endblock start %}